<div class="container">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6 my-4">
            <mat-card class="example-card">
                <tr>
      
                    <td><B>SrNo</B></td>
                    <td >{{SrNo}}</td>
                  </tr>
                  <tr>
                    <td><B>FullName</B></td>
                    <td>{{Fullname}}</td>
                  </tr>
                  <tr>
                    <td><B>emailId</B></td>
                    <td>{{emailId}}</td>
                  </tr>
                  <tr>
                    <td><B>contactNumber</B></td>
                    <td>{{contactNumber}}</td>
                  </tr>
                  <button mat-raised-button color="primary" routerLink="/Go back">Go Back</button>
            </mat-card>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>
